@using Models.Enum
@model Models.Entity.Function

@{
    ViewBag.Title = $"功能【{Model.Name}】详细信息";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<table class="table table-responsive table-bordered table-hover">
    <thead>
        <tr>
            <th>名称</th>
            <th>控制器名</th>
            <th>方法名</th>
            <th>HTTP请求方式</th>
            @if(Model.FunctionType==FunctionType.Menu) {
            <th>图标URL地址</th>
            <th>class样式</th>
            }
            <th>权限类型</th>
            <th>权限归属</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.Name</td>
            <td>@Model.Controller</td>
            <td>@Model.Action</td>
            <td>@Model.HttpMethod</td>
            @if(Model.FunctionType == FunctionType.Menu) {
                <td>@Model.IconUrl</td>
                <td>@Model.CssStyle</td>
                <td>菜单权限</td>
            }
            else
            {
                <td>操作权限</td>
            }
            <td>
                @Html.ActionLink(Model.Permission.PermissionName,"Get","Permission",new{id=Model.PermissionId},null)
            </td>
        </tr>
    </tbody>
</table>