@model Models.Entity.UserInfo

@{
    ViewBag.Title = $"用户【{Model.Username}】详细信息";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<table class="table table-responsive table-bordered table-hover">
    <thead>
        <tr>
            <th>用户名</th>
            <th>电子邮箱</th>
            <th>电话号码</th>
            <th>最后登录时间</th>
            <th>隶属于用户组</th>
            <th>隶属于角色</th>
            <th>拥有权限</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.Username</td>
            <td>@Model.Email</td>
            <td>@Model.PhoneNumber</td>
            <td>@Model.LastLoginTime</td>
            <td>
                @{
                    var ps = Model.UserGroup;
                    foreach (var p in ps)
                    {
                        @Html.ActionLink(p.GroupName, "Get", "UserGroup", new { id = p.Id }, null)<text> , </text>
                    }
                }
            </td>
            <td>
                @{
                    var us = Model.Role;
                    foreach (var p in us)
                    {
                        @Html.ActionLink(p.RoleName, "Get", "Role", new { id = p.Id }, null)<text> , </text>
                    }
                }
            </td>
            <td>
                @{
                    var up = Model.UserPermission;
                    foreach (var p in up)
                    {
                        @Html.ActionLink(p.Permission.PermissionName, "Get", "Permission", new { id = p.PermissionId }, null)<text> , </text>
                    }
                }
            </td>
        </tr>
    </tbody>
</table>